click
dash==2.6
dash-core-components
dash-html-components
dash-table
Flask
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
plotly
python-dateutil
pytz
six
tenacity
tzdata
Werkzeug
pandas
threading
requests
dash_bootstrap_components
gunicorn
